table {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}
tr {
    margin: 2px;
    background-color: #af8f8f;
}
thead tr, .header-of-left th {
    background-color: #655353;
}

tr:nth-child(2n){
    background-color: #dad4d4;
}
td, th {
    padding: 4px;
}

.error {
    background-color: #d37676;
    border: 2px solid red;
    margin:10px;
    padding: 20px;
    margin: 10px auto;
    width: 80%;
}